<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:security="http://www.springframework.org/schema/security"
        
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
">
   
    
    <bean id="Event" class="com.pa165.sportEventpersistence.entities.Event"></bean>
     <bean id="Sportsman" class="com.pa165.sportEventpersistence.entities.Sportsman"></bean>
      <bean id="Grade" class="com.pa165.sportEventpersistence.entities.Grade"></bean>
      <bean id="GradeId" class="com.pa165.sportEventpersistence.entities.GradeId"></bean>
      <bean id="Sport" class="com.pa165.sportEventpersistence.entities.Sport"></bean>
    
     <bean id="eventDAO" class="com.pa165.sportEventpersistence.DAOImpl.EventDAO"></bean>
     <bean id="sportsmanDAO" class="com.pa165.sportEventpersistence.DAOImpl.SportsmanDAO"></bean>
     <bean id="sportDAO" class="com.pa165.sportEventpersistence.DAOImpl.SportDAO"></bean>
     <bean id="gradeDAO" class="com.pa165.sportEventpersistence.DAOImpl.GradeDAO"></bean>
     
     <bean id="eventService" class="com.pa165.sportEventservice.serviceImpl.EventServiceImpl"> </bean>
    <bean id="gradeService" class="com.pa165.sportEventservice.serviceImpl.GradeServiceImpl"> </bean>
    <bean id="sportService" class="com.pa165.sportEventservice.serviceImpl.SportServiceImpl"> </bean>
    <bean id="sportsmanService" class="com.pa165.sportEventservice.serviceImpl.SportsmanServiceImpl"> </bean>
   
    <context:component-scan base-package="com.pa165.sportEventservice"/>
   <context:annotation-config/>
    <tx:annotation-driven/>
  
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">   
        <property name="persistenceUnitName" value="PU"/>           
     </bean>
 
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
  
    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                 <value>eventMapping.xml</value>
                <value>sportsmanMapping.xml</value>
                <value>sportMapping.xml</value>
                <value>gradeMapping.xml</value>
                <value>gradeIdMapping.xml</value>					   
            </list>
        </property>
    </bean>
    
</beans>
